name: Build CI

on: [pull_request, push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Translate Repo Name For Build Tools filename_prefix
      id: repo-name
      run: echo "repo-name=Adafruit-PureIO" >> $GITHUB_OUTPUT
    - name: Set up Python 3.x
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'
    - name: Versions
      run: |
        python3 --version
    - name: Checkout Current Repo
      uses: actions/checkout@v3
      with:
        submodules: true
    - name: Checkout tools repo
      uses: actions/checkout@v3
      with:
        repository: adafruit/actions-ci-circuitpython-libs
        path: actions-ci
    - name: Install dependencies
      # (e.g. - apt-get: gettext, etc; pip: circuitpython-build-tools, requirements.txt; etc.)
      run: |
        source actions-ci/install.sh
    - name: Pip install pylint, black, & Sphinx
      run: |
        pip install --force-reinstall pylint black Sphinx sphinx-rtd-theme
    - name: Library version
      run: git describe --dirty --always --tags
    - name: Check formatting
      run: |
        black --check --target-version=py35 .
    - name: PyLint
      run: |
        pylint $( find . -path './Adafruit*/*.py' )
    - name: Build docs
      working-directory: docs
      run: sphinx-build -E -W -b html . _build/html
